* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
}
:root {
  /*Primary colors*/
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  /*Accent colors*/
  --blue: hsl(248, 32%, 49%);
  --white: #fafaf9;
  /*Neutral colors*/
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  /*typography*/
  --fSize: 14px;
  --w4: 400;
  --w5: 500;
  --w6: 600;
  --w7: 700;
}
@font-face {
  font-family: "Poppins-bold";
  src: url(./assets/Fonts/poppins/Poppins-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Poppins-regular";
  src: url(./assets/Fonts/poppins/Poppins-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Poppins-medium";
  src: url(./assets/Fonts/poppins/Poppins-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Poppins-light";
  src: url(./assets/Fonts/poppins/Poppins-Light.otf) format("opentype");
}
body {
  background-color: #000;
}
.UI {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--red);
  padding: 50px 20px 70px;
  margin: 0;
}
.close {
  display: none;
}
