@import url(../App.css);

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  margin-top: 15px;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.15);
  & .input,
  .btn {
    height: 45px;
    width: 100%;
    border-radius: 7px;
    font-family: "Poppins-regular", sans-serif;
  }
  & .input-enclose {
    display: flex;
    flex-direction: column;
    .input {
      border: 1px solid var(--grayish-blue);
      padding-left: 10px;
      font-size: var(--fSize);
    }
    & .err-enclose {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      & .err {
        display: block;
        color: var(--red);
        border-radius: 7px;
        height: 15px;
        width: auto;
        margin-left: calc(100% - width);
        padding: 5px;
        font-size: 10px;
        font-family: "Poppins-light", sans-serif;
      }
      & .miss-email{
        display: none;
      }
    }
    & .error-icon{
      position: absolute;
      padding: 2px;
      width: 25px;
      height: 25px;
     }
  }
  & .btn {
    background-color: var(--green);
    color: var(--white);
    text-transform: uppercase;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  & .pWrap {
    padding: 10px;
    text-align: center;
    margin-top: -15px;
    & * {
      margin: 0;
      font-size: 10px;
    }
    & p:nth-child(1) {
      font-family: "Poppins-light", sans-serif;
      color: var(--grayish-blue);
    }
    & p:nth-child(2) {
      font-family: "Poppins-bold", sans-serif;
      color: var(--red);
    }
  }
}
