@import url(../../../App.css);

.success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    & img{
        height: 70px;
        width: 70px;
    }
    & h4{
        color:var(--white);
        font-family: 'Poppins-light', sans-serif;
        & span{
            font-family: 'Poppins-bold', sans-serif;
        }
    }
}